<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Análisis Nutricionales</h3>
      </div>
      <div class="panel-body">
        <table class="table table-sm" ng-if="vm.sectors.length>0">
          <thead>
            <th>Cuartel</th>
            <th>Fecha</th>
            <th>Momento de Medición</th>
            <th>Información Adicional</th>
          </thead>
          <tbody>
            <form class="form-inline well clearfix">
            <tr>
              <td class="form-group">
                <select class="form-control" id="sector" ng-model="vm.fdata.sector">
                  <option ng-repeat="(index, sector) in vm.sectors" value="{{ index }}">
                    {{ sector.station }}, {{ sector.name }}, {{ sector.cultivar | cultivarTranslate }}
                  </option>
                </select>
              </td>
              <td>
                <div class="input-group">
                  <input type="text" readonly
                    class="form-control"
                    uib-datepicker-popup="{{vm.calendar.format}}"
                    ng-model="vm.fdata.date"
                    is-open="vm.calendar.isOpen"
                    datepicker-options="vm.dateOptions"
                    ng-required="true"
                    close-text="Cerrar"/>
                    <span class="input-group-btn">
                      <button type="button"
                      class="btn btn-default"
                      ng-click="vm.openCal()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                </div>
              </td>
              <td>
                <label>
                  <input type="radio" ng-model="vm.fdata.stage" value="small">
                  Fruto 60 ddpf
                </label><br/>
                <label>
                  <input type="radio" ng-model="vm.fdata.stage" value="mature">
                  Fruto a Cosecha
                </label><br/>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="vm.fdata.other">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-sm" ng-if="vm.sectors.length>0">
          <thead>
            <th>N *</th>
            <th>P *</th>
            <th>K *</th>
            <th>Ca *</th>
            <th>Mg *</th>
            <th>MS %</th>
            <th>N° Frutos</th>
            <th>Peso Total (g)</th>
            <th>Guardar</th>
          </thead>
          <tbody>
            <form class="form-inline well clearfix">
            <tr>
              <td>
                <input class="form-control" id="N" placeholder="N" type="number" ng-model="vm.fdata.N">
              </td>
              <td>
                <input class="form-control" id="P" placeholder="P" type="number" ng-model="vm.fdata.P">
              </td>
              <td>
                <input class="form-control" id="K" placeholder="K" type="number" ng-model="vm.fdata.K">
              </td>
              <td>
                <input class="form-control" id="Ca" placeholder="Ca" type="number" ng-model="vm.fdata.Ca">
              </td>
              <td>
                <input class="form-control" id="Mg" placeholder="Mg" type="number" ng-model="vm.fdata.Mg">
              </td>
              <td>
                <input class="form-control" id="Ms" placeholder="Ms" type="number" ng-model="vm.fdata.Ms">
              </td>
              <td>
                <input class="form-control" id="N_Frutos" placeholder="N_Frutos" type="number" ng-model="vm.fdata.N_Frutos">
              </td>
              <td>
                <input class="form-control" id="Peso_Total" placeholder="Peso_Total" type="number" ng-model="vm.fdata.Peso_Total">
              </td>
              <td>
                <button type="button" class="btn btn-success btn-block" ng-click="vm.saveData()">
                  <i class="fa fa-save"></i>
                </button>
              </td>
            </tr>
          </form>
          <tr>
            <td>
              <small>* (mg/100g PF)</small>
            </td>
          </tr>
          </tbody>
        </table>
        <div ng-if="vm.sectors.length==0">
          No hay estaciones con cuarteles registrados. Los cuarteles se pueden añadir desde el panel de control de cada estación.
        </div>
        <hr/>

        <span ng-if="vm.nutritionalData.length>0">
          <h3>Datos Nutricionales Ingresados</h3>
          <div class="table-responsive">
            <table class="table table-condensed table-bordered table-responsive" style="white-space: nowrap;">
              <thead>
                <th>Estación</th>
                <th>Variedad</th>
                <th>Cuartel</th>
                <th>Fecha</th>
                <th>Momento<br/>Medición</th>
                <th>N</th>
                <th>P</th>
                <th>K</th>
                <th>Ca</th>
                <th>Mg</th>
                <th>MS</th>
                <th>N°<br/>Frutos</th>
                <th>Peso<br/>Total (g)</th>
                <th>Índice<br/>Riesgo</th>
                <th>Otros</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr ng-repeat="nutData in vm.nutritionalData">
                  <td>{{nutData.station.name}}</td>
                  <td>{{nutData.sector.cultivar | cultivarTranslate}}</td>
                  <td>{{nutData.sector.name}}</td>
                  <td><span>{{nutData.date | amDateFormat:'DD-MM-YYYY'}}</span></td>
                  <td>
                    <span ng-if="nutData.stage == 'small'">
                      Fruto 60 ddpf
                    </span>
                    <span ng-if="nutData.stage == 'mature'">
                      Fruto a Cosecha
                    </span>
                  </td>
                  <td>{{nutData.N          | number:1}}</td>
                  <td>{{nutData.P          | number:1}}</td>
                  <td>{{nutData.K          | number:1}}</td>
                  <td>{{nutData.Ca         | number:1}}</td>
                  <td>{{nutData.Mg         | number:1}}</td>
                  <td>{{nutData.Ms         | number:1}}</td>
                  <td>{{nutData.N_Frutos   | number:1}}</td>
                  <td>{{nutData.Peso_Total | number:1}}</td>
                  <td>{{nutData.riskIndex}}</td>
                  <td>{{nutData.other}}</td>
                  <td><button type="button" class="btn btn-danger btn-xs" ng-click="vm.removeData(nutData)"><i class="fa fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul
            uib-pagination
            total-items="vm.totalItems"
            ng-model="vm.currentPage"
            max-size="vm.maxPages"
            items-per-page="vm.pageSize"
            ng-change="vm.pageChanged()"
            boundary-links="true"
            class="pagination-sm"
            force-ellipses="false"
            first-text=""
            last-text=""
            previous-text="Anterior"
            next-text="Siguiente">
          </ul>
        </span>

        <hr/>

        <span ng-if="vm.nutritionalData.length>0">
          <h3>Indicadores Nutricionales</h3>
          <label>Seleccione un cuartel para revisar sus indicadores nutricionales: </label><br>
          <select class="form-control" id="sector" ng-model="vm.selectedSector">
            <option ng-repeat="(index, sector) in vm.sectors" value="{{ index }}">
              {{ sector.station }}, {{ sector.name }}, {{ sector.cultivar | cultivarTranslate }}
            </option>
          </select>
          <table class="table table-condensed table-bordered table-responsive" ng-if="vm.nutritionalIndicators.length>0">
            <thead>
              <th>Fecha</th>
              <th>Momento<br/>Medición</th>
              <th>N/Ca</th>
              <th>K/Ca</th>
              <th>Mg/Ca</th>
              <th>N/K</th>
              <th>K/P</th>
              <th>P/Ca</th>
              <th>(K+Mg)/Ca</th>
              <th>(K+Mg)/Ca + N/Ca</th>
              <th>Índice de Riesgo</th>
              <th>Peso Promedio (g)</th>
            </thead>
            <tbody>
              <tr ng-repeat="nutData in vm.nutritionalIndicators">
                <td><span>{{nutData.date | amDateFormat:'DD-MM-YYYY'}}</span></td>
                <td>
                  <span ng-if="nutData.stage == 'small'">
                    Fruto Pequeño
                  </span>
                  <span ng-if="nutData.stage == 'mature'">
                    Fruto Maduro
                  </span>
                </td>
                <td>{{nutData.NdivCa    | number:1}}</td>
                <td>{{nutData.KdivCa    | number:1}}</td>
                <td>{{nutData.MgdivCa   | number:1}}</td>
                <td>{{nutData.NdivK     | number:1}}</td>
                <td>{{nutData.KdivP     | number:1}}</td>
                <td>{{nutData.PdivCa    | number:1}}</td>
                <td>{{nutData.KMgdivCa  | number:1}}</td>
                <td>{{nutData.KMgdivCaNCa | number:1}}</td>
                <td>{{nutData.riskIndex | number:1}}</td>
                <td>{{nutData.avgWeight | number:1}}</td>
              </tr>
            </tbody>
          </table>
          <p ng-if="vm.nutritionalIndicators.length==0 && vm.selectedSector" style="margin-top:5px;">
            No hay información nutricional registrada para la estación.
          </p>
          <ul
            uib-pagination
            total-items="vm.totalItems2"
            ng-model="vm.currentPage2"
            max-size="vm.maxPages2"
            items-per-page="vm.pageSize2"
            ng-change="vm.pageChanged2()"
            boundary-links="true"
            class="pagination-sm"
            force-ellipses="false"
            first-text=""
            last-text=""
            previous-text="Anterior"
            next-text="Siguiente">
          </ul>
        </span>


      </div>
    </div>
  </div>

  <footer></footer>
</div>
</div>
