<div class="app-container container-fluid">
<div class="row">
  <dashboard-navigation></dashboard-navigation>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <button class="btn btn-default btn-xs" back-button>< Volver</button>
          <strong>Reparación de Datos Dañados</strong>
        </h3>
      </div>
      <div class="panel-body">
        Ingrese el archivo a reparar:<br/>
          <input id="file" class="btn btn-default" type="file">
          <button
            class="btn btn-success"
            ng-click="vm.loadFile()"
            ng-disabled="vm.isLoading">
            <span ng-if="!vm.isLoading">
              Cargar archivo
            </span>
            <span ng-if="vm.isLoading">
              <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
              Cargando...
            </span>
          </button>
          <div ng-if="vm.fileData && !vm.isLoading">
            <h2>Errores del Archivo</h2>
            <p>
              Este archivo presenta {{ vm.fieldsWithErrors.length }} errores.
              <a href ng-click="vm.updateErrors()">Actualizar</a>
            </p>
            <div class="panel panel-danger" ng-if="vm.fieldsWithErrors.length>0" style='max-height: 200px; overflow: scroll;'>
              <div class="panel-body">
                <span ng-if="vm.fieldsWithErrors.length>0">Filas con errores:<br/>
                  <a
                    class="badge"
                    style="background-color:red;"
                    ng-repeat="e in vm.fieldsWithErrors"
                    ng-click="vm.setPage((e/vm.pageSize | floor) + 1)">
                    {{e + 1}}
                  </a><br/>
                  (Hacer click en el número de fila lo llevará a la página del error correspondiente)<br/>
                </span>
              </div>
            </div>


            <span ng-if="vm.fieldsWithErrors.length>0">
              <h2>Subir un archivo de reparación</h2>
              <input id="repairfile" class="btn btn-default" type="file">
              <button
                class="btn btn-success"
                ng-click="vm.loadRepairFile()"
                ng-disabled="vm.isLoadingRepairFile">
                <span ng-if="!vm.isLoadingRepairFile">
                  Cargar archivo
                </span>
                <span ng-if="vm.isLoadingRepairFile">
                  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                  Cargando...
                </span>
              </button>
            </span>
            <span ng-if="vm.repairCandidates.length>0">
              <p>Hay {{ vm.repairCandidates.length }} filas que pueden ser añadidas al archivo original para corregirlo.</p>
              <a href ng-click="vm.applyCorrectionsFromFile()">Corregir</a>
            </span>


            <h2>Datos del Archivo</h2>
            <ul
              uib-pagination
              boundary-links="true"
              total-items="vm.totalItems"
              ng-model="vm.currentPage"
              boundary-link-numbers="true"
              max-size="8"
              items-per-page="vm.pageSize"
              previous-text="Anterior"
              next-text="Siguiente"
              first-text=""
              last-text=""
              ng-change="vm.pageChanged()">
            </ul>

            <table class="table table-condensed">
              <thead>
                <tr>
                  <th>
                    Acción
                  </th>
                  <th>
                    Descripción
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <button class="btn btn-warning btn-block" ng-click="vm.fixInbetweens('copy')">Reparar intermedios (copia)</button>
                  </td>
                  <td>
                    Repara datos copiando el valor anterior.
                    Repara los datos en el caso en que haya una ausencia de datos y los datos anterior y siguiente sean válidos.
                    Se puede aplicar al caso en que una estación tome muestras cada media hora en vez de cada quince minutos.
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="btn btn-warning btn-block" ng-click="vm.fixInbetweens('average')">Reparar intermedios (promedio)</button>
                  </td>
                  <td>
                    Repara datos promediando el valor anterior y el siguiente.
                    Repara los datos en el caso en que haya una ausencia de datos y los datos anterior y siguiente sean válidos.
                    Se puede aplicar al caso en que una estación tome muestras cada media hora en vez de cada quince minutos.
                  </td>
                </tr>
              </tbody>
            </table>

            <div ng-if="vm.displayData">
              <div class="table-responsive">
              <table class="table table-condensed table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Temp Out</th>
                    <th>Hi Temp</th>
                    <th>Low Temp</th>
                    <th>Out Hum</th>
                    <th>Wind Speed</th>
                    <th>Rain</th>
                    <th>Solar Rad.</th>
                    <th>ET</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    ng-repeat = "d in vm.displayData track by $index"
                    ng-class  = "{danger:vm.fieldsWithErrors.indexOf($index + (vm.currentPage-1)*vm.pageSize)>=0}">
                    <td>
                      {{($index + 1) + (vm.currentPage-1)*vm.pageSize}}
                    </td>
                    <td
                      ng-repeat ="field in d track by $index"
                      ng-class  ="{danger:field=='---'}">
                      <span
                        ng-if="vm.fieldsWithErrors.indexOf($parent.$index + (vm.currentPage-1)*vm.pageSize)<0 || $index < 2">
                        {{field}}
                      </span>
                      <input
                        type="text"
                        class="form-control input-xs"
                        ng-model="vm.fileData[(vm.currentPage-1)*vm.pageSize + $parent.$parent.$index][$index]"
                        ng-if="vm.fieldsWithErrors.indexOf($parent.$index + (vm.currentPage-1)*vm.pageSize)>=0 && $index >= 2">
                        <!--vm.fileData[((vm.currentPage-1)*vm.pageSize + $parent.$index)][$index]-->
                    </td>
                    <td style="white-space:nowrap;">
                      <button class="btn btn-warning btn-xs" title="Copiar Registro" ng-click="vm.copyRow(d)" ng-disabled="vm.fieldsWithErrors.indexOf($index + (vm.currentPage-1)*vm.pageSize)>=0">
                        <i class='fa fa-copy'></i>
                      </button>
                      <button class="btn btn-warning btn-xs" title="Pegar Registro" ng-click="vm.pasteRow(($index) + (vm.currentPage-1)*vm.pageSize)" ng-disabled="!vm.copiedRow">
                        <i class='fa fa-paste'></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>

            <ul
              uib-pagination
              boundary-links="true"
              total-items="vm.totalItems"
              ng-model="vm.currentPage"
              boundary-link-numbers="true"
              max-size="8"
              items-per-page="vm.pageSize"
              previous-text="Anterior"
              next-text="Siguiente"
              first-text=""
              last-text=""
              ng-change="vm.pageChanged()">
            </ul>

            <button class="btn btn-block btn-success"
              type="button"
              ng-csv="vm.getDataInArray()"
              add-bom="true"
              csv-header="vm.getFileHeaders()"
              filename="{{vm.getFileName()}}"
              field-separator="{{vm.getFileSeparator()}}">
              Exportar datos a CSV
            </button>
          </div>
      </div>
    </div>
  </div>

  <footer></footer>
</div>
</div>
